USE [LibraryOfEducationalMaterials]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 23.02.2026 18:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Author_id] [int] NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Patronymic] [nvarchar](100) NULL,
	[Organization] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Website] [nvarchar](255) NOT NULL,
	[License_type] [nvarchar](50) NOT NULL,
	[Is_verified] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[Author_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Difficulty_levels]    Script Date: 23.02.2026 18:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Difficulty_levels](
	[Level_id] [int] NOT NULL,
	[Level_name] [nvarchar](200) NOT NULL,
	[Level_code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Difficulty_levels] PRIMARY KEY CLUSTERED 
(
	[Level_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discipliness]    Script Date: 23.02.2026 18:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discipliness](
	[Discipline_id] [int] NOT NULL,
	[Discipline_name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Discipliness] PRIMARY KEY CLUSTERED 
(
	[Discipline_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formats]    Script Date: 23.02.2026 18:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formats](
	[Format_id] [int] NOT NULL,
	[Format_name] [nvarchar](100) NOT NULL,
	[Ic_downloadable] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Formats] PRIMARY KEY CLUSTERED 
(
	[Format_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_authors]    Script Date: 23.02.2026 18:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_authors](
	[Material_authors_id] [int] NOT NULL,
	[Material_id] [int] NOT NULL,
	[Author_id] [int] NOT NULL,
	[Contribution] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Material_authors] PRIMARY KEY CLUSTERED 
(
	[Material_authors_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_reviews]    Script Date: 23.02.2026 18:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_reviews](
	[Review_id] [int] NOT NULL,
	[Material_id] [int] NOT NULL,
	[User_id] [int] NOT NULL,
	[Rating] [nvarchar](5) NOT NULL,
	[Review_text] [nvarchar](200) NOT NULL,
	[Review_date] [date] NOT NULL,
 CONSTRAINT [PK_Material_reviews] PRIMARY KEY CLUSTERED 
(
	[Review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 23.02.2026 18:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Material_id] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Discipline_id] [int] NOT NULL,
	[Level_id] [int] NOT NULL,
	[Format_id] [int] NOT NULL,
	[Publication_year] [nvarchar](4) NOT NULL,
	[Duration_minutes] [nvarchar](20) NULL,
	[File_URL] [nvarchar](255) NOT NULL,
	[Price] [nvarchar](20) NOT NULL,
	[Rating] [nvarchar](10) NOT NULL,
	[Created_date] [date] NOT NULL,
	[Update_date] [date] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[Material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23.02.2026 18:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_id] [int] NOT NULL,
	[Role_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_favorites]    Script Date: 23.02.2026 18:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_favorites](
	[User_favorite_id] [int] NOT NULL,
	[User_id] [int] NOT NULL,
	[Material_id] [int] NOT NULL,
	[Added_date] [date] NOT NULL,
 CONSTRAINT [PK_User_favorites] PRIMARY KEY CLUSTERED 
(
	[User_favorite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.02.2026 18:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_id] [int] NOT NULL,
	[Role_id] [int] NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Patronymic] [nvarchar](100) NULL,
	[Username] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Registration_date] [date] NOT NULL,
	[Last_lodin] [date] NOT NULL,
	[Is_active] [nvarchar](20) NOT NULL,
	[Subscription_end] [date] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Authors] ([Author_id], [Surname], [Name], [Patronymic], [Organization], [Email], [Website], [License_type], [Is_verified]) VALUES (1, N'Иванов', N'Алексей', N'Петрович', N'МГУ им. Ломоносова', N'ivanov@msu.ru', N'math.msu.ru/ivanov', N'CC BY-NC', N'1')
INSERT [dbo].[Authors] ([Author_id], [Surname], [Name], [Patronymic], [Organization], [Email], [Website], [License_type], [Is_verified]) VALUES (2, N'Петрова', N'Елена', N'Сергеевна', N'СПбГУ', N'petrova@spbu.ru', N'spbu.ru/petrova', N'CC BY', N'1')
INSERT [dbo].[Authors] ([Author_id], [Surname], [Name], [Patronymic], [Organization], [Email], [Website], [License_type], [Is_verified]) VALUES (3, N'Сидоров', N'Дмитрий', N'Андреевич', N'МФТИ', N'sidorov@mipt.ru', N'mipt.ru/sidorov', N'Proprietary', N'1')
GO
INSERT [dbo].[Difficulty_levels] ([Level_id], [Level_name], [Level_code], [Description]) VALUES (1, N'Абсолютный новичок', N'A1', N'С нуля без подготовки')
INSERT [dbo].[Difficulty_levels] ([Level_id], [Level_name], [Level_code], [Description]) VALUES (2, N'Начинающий', N'A2', N'Начальные знания базовые понятия')
INSERT [dbo].[Difficulty_levels] ([Level_id], [Level_name], [Level_code], [Description]) VALUES (3, N'Базовый', N'B1', N'Основы предмета может выполнять простые задания')
GO
INSERT [dbo].[Discipliness] ([Discipline_id], [Discipline_name], [Description]) VALUES (1, N'Высшая математика', N'Математический анализ  линейная алгебра ')
INSERT [dbo].[Discipliness] ([Discipline_id], [Discipline_name], [Description]) VALUES (2, N'Русский язык', N'Грамматика,  стилистика,  культура речи')
INSERT [dbo].[Discipliness] ([Discipline_id], [Discipline_name], [Description]) VALUES (3, N'Русская литература', N'Классическая и современная русская литература')
GO
INSERT [dbo].[Formats] ([Format_id], [Format_name], [Ic_downloadable]) VALUES (1, N'PDF-учебник', N'1')
INSERT [dbo].[Formats] ([Format_id], [Format_name], [Ic_downloadable]) VALUES (2, N'Видеолекция', N'0')
INSERT [dbo].[Formats] ([Format_id], [Format_name], [Ic_downloadable]) VALUES (3, N'Видеокурс', N'0')
GO
INSERT [dbo].[Material_authors] ([Material_authors_id], [Material_id], [Author_id], [Contribution]) VALUES (1, 1, 1, N'Основной автор')
INSERT [dbo].[Material_authors] ([Material_authors_id], [Material_id], [Author_id], [Contribution]) VALUES (2, 1, 9, N'Соавтор')
INSERT [dbo].[Material_authors] ([Material_authors_id], [Material_id], [Author_id], [Contribution]) VALUES (3, 2, 2, N'Основной автор')
GO
INSERT [dbo].[Material_reviews] ([Review_id], [Material_id], [User_id], [Rating], [Review_text], [Review_date]) VALUES (1, 1, 1, N'5', N'Отличный учебник для начинающих,  все очень понятно объяснено', CAST(N'2024-01-15' AS Date))
INSERT [dbo].[Material_reviews] ([Review_id], [Material_id], [User_id], [Rating], [Review_text], [Review_date]) VALUES (2, 1, 5, N'4', N'Хороший материал, но мало практических примеров', CAST(N'2024-01-16' AS Date))
INSERT [dbo].[Material_reviews] ([Review_id], [Material_id], [User_id], [Rating], [Review_text], [Review_date]) VALUES (3, 1, 8, N'5', N'Лучший курс по матанализу, рекомендую', CAST(N'2024-01-18' AS Date))
GO
INSERT [dbo].[Materials] ([Material_id], [Title], [Description], [Discipline_id], [Level_id], [Format_id], [Publication_year], [Duration_minutes], [File_URL], [Price], [Rating], [Created_date], [Update_date]) VALUES (1, N'Математический анализ для начинающих', N'Полный курс математического анализа для студентов первых курсов', 1, 3, 1, N'2023', N'0', N'https://library.ru/math/analysis_2023.pdf', N'0.00', N'4,8', CAST(N'2023-01-15' AS Date), CAST(N'2023-01-15' AS Date))
INSERT [dbo].[Materials] ([Material_id], [Title], [Description], [Discipline_id], [Level_id], [Format_id], [Publication_year], [Duration_minutes], [File_URL], [Price], [Rating], [Created_date], [Update_date]) VALUES (2, N'Русский язык. Правила и упражнения', N'Сборник правил и практических упражнений по русскому языку', 2, 2, 4, N'2022', N'0', N'https://library.ru/russian/rules_2022.pptx', N'0.00', N'4,7', CAST(N'2022-03-10' AS Date), CAST(N'2022-03-10' AS Date))
INSERT [dbo].[Materials] ([Material_id], [Title], [Description], [Discipline_id], [Level_id], [Format_id], [Publication_year], [Duration_minutes], [File_URL], [Price], [Rating], [Created_date], [Update_date]) VALUES (3, N'Война и мир. Анализ произведения', N'Видеолекция о романе Л.Н. Толстого', 3, 5, 2, N'2024', N'120', N'https://library.ru/literature/war_and_peace.mp4', N'0.00', N'4', CAST(N'2024-02-01' AS Date), CAST(N'2024-02-01' AS Date))
GO
INSERT [dbo].[Roles] ([Role_id], [Role_name]) VALUES (1, N'Пользователь')
INSERT [dbo].[Roles] ([Role_id], [Role_name]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([Role_id], [Role_name]) VALUES (3, N'Администратор')
GO
INSERT [dbo].[User_favorites] ([User_favorite_id], [User_id], [Material_id], [Added_date]) VALUES (1, 1, 5, CAST(N'2024-01-16' AS Date))
INSERT [dbo].[User_favorites] ([User_favorite_id], [User_id], [Material_id], [Added_date]) VALUES (2, 1, 10, CAST(N'2024-01-16' AS Date))
INSERT [dbo].[User_favorites] ([User_favorite_id], [User_id], [Material_id], [Added_date]) VALUES (3, 1, 15, CAST(N'2024-01-20' AS Date))
GO
INSERT [dbo].[Users] ([User_id], [Role_id], [Surname], [Name], [Patronymic], [Username], [Email], [Password], [Registration_date], [Last_lodin], [Is_active], [Subscription_end]) VALUES (1, 1, N'Иванов', N'Алексей', N'Петрович', N'ivanov_alexey', N'ivanov.alexey@mail.ru', N'5f4dcc3b5aa765d61d8327deb882cf99', CAST(N'2023-01-15' AS Date), CAST(N'2024-03-10' AS Date), N'01.янв', CAST(N'2024-12-31' AS Date))
INSERT [dbo].[Users] ([User_id], [Role_id], [Surname], [Name], [Patronymic], [Username], [Email], [Password], [Registration_date], [Last_lodin], [Is_active], [Subscription_end]) VALUES (2, 1, N'Петрова', N'Елена', N'Сергеевна', N'petrova_elena', N'petrova.elena@yandex.ru', N'7c6a180b36896a0a8c02787eeafb0e4c', CAST(N'2023-01-20' AS Date), CAST(N'2024-03-15' AS Date), N'01.янв', CAST(N'2024-06-30' AS Date))
INSERT [dbo].[Users] ([User_id], [Role_id], [Surname], [Name], [Patronymic], [Username], [Email], [Password], [Registration_date], [Last_lodin], [Is_active], [Subscription_end]) VALUES (3, 2, N'Сидоров', N'Дмитрий', N'Андреевич', N'sidorov_dmitry', N'sidorov.d@bk.ru', N'6cb75f652a9b52798eb6cf2201057c73', CAST(N'2023-02-01' AS Date), CAST(N'2024-03-18' AS Date), N'01.янв', NULL)
GO
ALTER TABLE [dbo].[Material_authors]  WITH CHECK ADD  CONSTRAINT [FK_Material_authors_Authors] FOREIGN KEY([Author_id])
REFERENCES [dbo].[Authors] ([Author_id])
GO
ALTER TABLE [dbo].[Material_authors] CHECK CONSTRAINT [FK_Material_authors_Authors]
GO
ALTER TABLE [dbo].[Material_authors]  WITH CHECK ADD  CONSTRAINT [FK_Material_authors_Materials] FOREIGN KEY([Material_id])
REFERENCES [dbo].[Materials] ([Material_id])
GO
ALTER TABLE [dbo].[Material_authors] CHECK CONSTRAINT [FK_Material_authors_Materials]
GO
ALTER TABLE [dbo].[Material_reviews]  WITH CHECK ADD  CONSTRAINT [FK_Material_reviews_Materials] FOREIGN KEY([Material_id])
REFERENCES [dbo].[Materials] ([Material_id])
GO
ALTER TABLE [dbo].[Material_reviews] CHECK CONSTRAINT [FK_Material_reviews_Materials]
GO
ALTER TABLE [dbo].[Material_reviews]  WITH CHECK ADD  CONSTRAINT [FK_Material_reviews_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[Material_reviews] CHECK CONSTRAINT [FK_Material_reviews_Users]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Difficulty_levels] FOREIGN KEY([Level_id])
REFERENCES [dbo].[Difficulty_levels] ([Level_id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Difficulty_levels]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Discipliness] FOREIGN KEY([Discipline_id])
REFERENCES [dbo].[Discipliness] ([Discipline_id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Discipliness]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Formats] FOREIGN KEY([Format_id])
REFERENCES [dbo].[Formats] ([Format_id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Formats]
GO
ALTER TABLE [dbo].[User_favorites]  WITH CHECK ADD  CONSTRAINT [FK_User_favorites_Materials] FOREIGN KEY([Material_id])
REFERENCES [dbo].[Materials] ([Material_id])
GO
ALTER TABLE [dbo].[User_favorites] CHECK CONSTRAINT [FK_User_favorites_Materials]
GO
ALTER TABLE [dbo].[User_favorites]  WITH CHECK ADD  CONSTRAINT [FK_User_favorites_Users] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[User_favorites] CHECK CONSTRAINT [FK_User_favorites_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role_id])
REFERENCES [dbo].[Roles] ([Role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
